.article {
    width: auto;
    margin: 0 100px;
    margin-bottom: 40px;
    img {
        width: 70%;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }
}

.article-temario {
    padding: 20px;
    border: 3px solid var(--bg-color1);
    width: 50%;
}